<!DOCTYPE html>
<html>
<head>
  <title>MCQ Test</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <style>
      .fixed-div {
    position: fixed;
    top: 10px;
    right: 10px;
    color: red;
  }
    .hidden-image {
    display: none;
  }
    </style>
</head>
<body class="h-screen bg-gray-100">
  <div class="h-full w-full ">
      <h1 class="text-2xl font-bold mb-6" align="center">AIPDM-2023</h1>
    <div>
      <form method="post" action="/revision"  class="bg-white p-6 rounded-lg shadow-lg">
        <select  name="questionpaper" class="block border border-gray-500 p-2 mb-4" id="Xevent_details" required>
          <option value="please select">Select Event</option>
          {% for file in filedata %}
          <option value="{{file.filename}}">{{file.desc}}</option>
          {% endfor %}
        </select>
        <button class="bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-600">Start Revision</button>
      </form>
    </div>
  </div>
</body>
</html>