<!DOCTYPE html>
<html>
<head>
  <title>MCQ Test</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <style>
      .fixed-div {
    position: fixed;
    top: 10px;
    right: 10px;
    color: red;
  }
    .hidden-image {
    display: none;
  }
    </style>
    <script>
      function startTimer(duration, display) {
        var timer = duration, minutes, seconds;
        setInterval(function () {
          minutes = parseInt(timer / 60, 10);
          seconds = parseInt(timer % 60, 10);

          minutes = minutes < 10 ? "0" + minutes : minutes;
          seconds = seconds < 10 ? "0" + seconds : seconds;

          display.textContent = minutes + ":" + seconds;

              if (minutes < 15) {
                  document.getElementById("image").style.display = "block";
              }


          if (--timer < 0) {
            clearInterval();
            document.getElementById("submit_btn").click();
          }
        }, 1000);
      }

      window.onload = function () {
        var fiveMinutes = 60 * 60,
          display = document.querySelector('#time');
        startTimer(fiveMinutes, display);
      };
    </script>
</head>
<body class="h-screen bg-gray-100">
  <div class="h-full w-full ">
      <h1 class="text-2xl font-bold mb-6" align="center">AIPDM-2023</h1>
<div class="fixed-div">
  <p >Time remaining: <span id="time">60:00</span></p>
  <img id="image" src="./../static/alert.gif" class="hidden-image">
</div>
      <form method="get"  action = "/revision" class="bg-white p-6 rounded-lg shadow-lg">
        {% for question in questions %}
          <div class="mb-6">
            <p class="text-lg font-medium mb-2">{{ question.id }}: {{ question.text }}</p>
            <div class="flex flex-col">
              {% if question.answer == 1 %}
              <label class="mb-2 text-green-500 font-medium">
              <input class="mr-2" type="radio" name="{{ question.id }}" value="1" required>
              {% else %}
              <label class="mb-2">
              <input class="mr-2" type="radio" name="{{ question.id }}" value="1" disabled>
              {% endif %}
              {{ question.options[0] }}
              </label>

              {% if question.answer == 2 %}
              <label class="mb-2 text-green-500 font-medium">
              <input class="mr-2" type="radio" name="{{ question.id }}" value="2" required>
              {% else %}
              <label class="mb-2">
              <input class="mr-2" type="radio" name="{{ question.id }}" value="2" disabled>
              {% endif %}
              {{ question.options[1] }}
              </label>

              {% if question.answer == 3 %}
              <label class="mb-2 text-green-500 font-medium">
              <input class="mr-2" type="radio" name="{{ question.id }}" value="3" required>
              {% else %}
              <label class="mb-2">
              <input class="mr-2" type="radio" name="{{ question.id }}" value="3" disabled>
              {% endif %}
              {{ question.options[2] }}
              </label>

              {% if question.answer == 4 %}
              <label class="mb-2 text-green-500 font-medium">
              <input class="mr-2" type="radio" name="{{ question.id }}" value="4" required>
              {% else %}
              <label class="mb-2">
              <input class="mr-2" type="radio" name="{{ question.id }}" value="4" disabled>
              {% endif %}
              {{ question.options[3] }}
              </label>
            </div>
          </div>
        {% endfor %}
        <input type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-600" value="Submit"/>
      </form>

  </div>
</body>
</html>