<!DOCTYPE html>
<html>
<head>
  <title>MCQ Test</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <style>
      body {
        background-image: url("alert.gif");
        background-size: 0px 0px;
        background-repeat: no-repeat;
        background-position: center;
      }

      #timer {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: right;
        align-items: right;
        color: red;
      }
    </style>
    <script>
      function startTimer(duration, display) {
        var timer = duration, minutes, seconds;
        setInterval(function () {
          minutes = parseInt(timer / 60, 10);
          seconds = parseInt(timer % 60, 10);

          minutes = minutes < 10 ? "0" + minutes : minutes;
          seconds = seconds < 10 ? "0" + seconds : seconds;

          display.textContent = minutes + ":" + seconds;

          if (timer < 15 * 60) {
            document.body.style.backgroundSize = (100 + timer) + "px " + (100 + timer) + "px";
          } else {
            document.body.style.backgroundSize = "0px 0px";
          }

          if (--timer < 0) {
            clearInterval();
            document.getElementById("submit_btn").click();
          }
        }, 1000);
      }

      window.onload = function () {
        var fiveMinutes = 60 * 60,
          display = document.querySelector('#time');
        startTimer(fiveMinutes, display);
      };
    </script>
</head>
<body class="h-screen bg-gray-100">
  <div class="h-full w-full ">
      <h1 class="text-2xl font-bold mb-6" align="center">AIPDM-2023</h1>
        <div id="timer">
      <p >Time remaining: <span id="time">60:00</span></p>
    </div>

      <form method="post"  class="bg-white p-6 rounded-lg shadow-lg">
        {% for question in questions %}
          <div class="mb-6">
            <p class="text-lg font-medium mb-2">{{ question.id }}: {{ question.text }}</p>
            <div class="flex flex-col">
              <label class="mb-2">
                <input class="mr-2" type="radio" name="{{ question.id }}" value="1">
                {{ question.options[0] }}
              </label>
              <label class="mb-2">
                <input class="mr-2" type="radio" name="{{ question.id }}" value="2">
                {{ question.options[1] }}
              </label>
              <label class="mb-2">
                <input class="mr-2" type="radio" name="{{ question.id }}" value="3">
                {{ question.options[2] }}
              </label>
              <label class="mb-2">
                <input class="mr-2" type="radio" name="{{ question.id }}" value="4">
                {{ question.options[3] }}
              </label>
            </div>
          </div>
        {% endfor %}
        <input class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-full" type="submit" value="Submit" id="submit_btn">
      </form>

  </div>
</body>
</html>
