<!DOCTYPE html>
<html>
<head>
  <title>MCQ Test</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="h-screen bg-gray-100">
  <div class="h-full w-full ">
      <h1 class="text-2xl font-bold mb-6" align="center">AIPDM-2023</h1>
      <form method="post"  class="bg-white p-6 rounded-lg shadow-lg">
        {% for question in questions %}
          <div class="mb-6">
            <p class="text-lg font-medium mb-2">{{ question.id }}: {{ question.text }}</p>
            <div class="flex flex-col">
              <label class="mb-2">
                <input class="mr-2" type="radio" name="{{ question.id }}" value="1">
                {{ question.options[0] }}
              </label>
              <label class="mb-2">
                <input class="mr-2" type="radio" name="{{ question.id }}" value="2">
                {{ question.options[1] }}
              </label>
              <label class="mb-2">
                <input class="mr-2" type="radio" name="{{ question.id }}" value="3">
                {{ question.options[2] }}
              </label>
              <label class="mb-2">
                <input class="mr-2" type="radio" name="{{ question.id }}" value="4">
                {{ question.options[3] }}
              </label>
            </div>
          </div>
        {% endfor %}
        <input class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-full" type="submit" value="Submit">
      </form>

  </div>
</body>
</html>
